<div class="be-stats">

    <div class="be-stat">

        <strong>

            @ViewBag.CollegeCount

        </strong>

        Colleges

    </div>

    <div class="be-stat">

        <strong>

            @ViewBag.CourseCount

        </strong>

        Courses

    </div>

    <div class="be-stat">

        <strong>

            @ViewBag.SchoolCount

        </strong>

        Schools

    </div>

</div>