<div class="be-stats">

    <div class="be-stat">

        <strong>@ViewBag.CollegeCount</strong>

        Colleges

    </div>

    <div class="be-stat">

        <strong>@ViewBag.SchoolCount</strong>

        Schools

    </div>

    <div class="be-stat">

        <strong>@ViewBag.TotalPages</strong>

        Pages

    </div>

    <div class="be-stat">

        Relevance

    </div>

</div>